* {
  margin: 0 auto;
}
.Home {
  display: flex;
  flex-direction: column;
  background-image: url(../images/phone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  background-position: center;
  align-self: center;
  justify-content: space-around;
  margin-top: 5vh;
}
.latest-post {
  margin-top: 30px;
  width: 90vw;
  height: 50vh;
}
